* {box-sizing: border-box;}

body {
  background-color: #ddd;
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user:hover {
  transform: scale(1.05);
}


